
<div class="spinner" ng-show={{main.loading}}>Loading...</div>
<div ng-show={{!main.loading}}>
<h3 class="text-center main-heading">Coolest weather</h3>
<div class="jumbotron">
    <p class="clear">
      <span class="left weather-location">
        {{main.coolestWeather.name}}
      </span>
      <span class="right">
      <img src={{main.coolestWeather.imageSource}} alt="coolest weather around here"><br>
      </span>
    </p>
    <p class="weather-description">
      {{main.coolestWeather.weather[0].description}}
    </p>
    <br>
    <br>
    <p class="clear">
      <span class="left">
        Now
      </span>
      <br>
      <span class="left centigrade">
        {{main.coolestWeather.main.temp}} &#8451;
      </span>
      <span class="right time">
        {{main.time }}
      </span>
    </p>
  <p class="right">
    {{main.date}}
  </p>
</div>
  <div class="weather-list">
    <h4>Other cities in this region</h4>
    <ul class="example-animate-container">
      <li class="animate-repeat" ng-repeat="weather in main.indexedWeatherData.slice(1, main.indexedWeatherData.length)">
        {{weather.name}} - {{weather.main.temp}} &#8451;
        <img src={{weather.imageSource}}>
      </li>
    </ul>
  </div>
</div>